# Base gitignore file
# Useful starting point when creating a new Git repo

# Mac finder stuff
.DS_Store

# Vim misc files
*.swp
*.swo

# Jetbrains IDEs
.idea/

# nvim package manager stuff
nvim/plugin/

